{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block style %}

{% endblock %}
{% block content %}
    <div id="fh5co-offcanvas">
		<a href="#" class="fh5co-close-offcanvas js-fh5co-close-offcanvas"><span><i class="icon-cross3"></i> <span>Close</span></span></a>
		<div class="fh5co-menu">
			<div class="fh5co-box">
				<h3 class="heading">Menu</h3>
				<ul>
						<li><a href="{% url 'category' %}">Category</a></li>
					{% if request.user.is_authenticated %}
						<li><a href="#">Blog</a></li>
						<li><a href="{% url 'form' %}">Create new post</a></li>
						<li><a href="{% url 'profile_item' %}">Profile</a></li>
						<li><a href="{% url 'logout' %}">Log Out</a></li>
						{% else %}
							<li><a href="{% url 'login' %}">Log In</a></li>
							<li><a href="{% url 'register' %}">Registration</a></li>
					{% endif %}

				</ul>
			</div>
			<div class="fh5co-box">
				<h3 class="heading">Search</h3>
				<form  method="GET" action="">
					<div class="form-group">
						<input type="text" name="search" class="form-control" placeholder="Type a keyword" value="{{request.GET.search}}">
					</div>
				</form>
			</div>
		</div>
	</div>

    <div class="container-fluid" style="width:50%; pt:20px;">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
{% block script%}

{% endblock %}